<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <title>Jaaroverzicht</title>
</head>
<body>
    <ui:include src="header.xhtml" />
    <div style="display:block;overflow:hidden;padding-bottom:2cm;">
        <span>#{frontPageVisitorPdf.plaats} <h:outputText value="#{frontPageVisitorPdf.datum}"   >
                        <f:convertDateTime pattern="dd-MM-yyyy" timeZone="CET" type="date" />
                    </h:outputText></span><br />

        &#160;<br />
        &#160;<br />
        &#160;<br />
        &#160;<br />

        <span>#{frontPageVisitorPdf.aanhef} #{frontPageVisitorPdf.currentPayer.voornaam} #{frontPageVisitorPdf.currentPayer.achternaam}</span> <br />
        <span>#{frontPageVisitorPdf.currentPayer.straatnaam} #{frontPageVisitorPdf.currentPayer.nummer} #{frontPageVisitorPdf.currentPayer.toevoeging}</span> <br />
        <span>#{frontPageVisitorPdf.currentPayer.postcode} #{frontPageVisitorPdf.currentPayer.woonplaats}</span><br />
        &#160;<br />
        &#160;<br />
        &#160;<br />
        &#160;<br />
        &#160;<br />
        &#160;<br />
        &#160;<br />
        <p>
            Geachte #{frontPageVisitorPdf.aanroep} #{frontPageVisitorPdf.currentPayer.voornaam} #{frontPageVisitorPdf.currentPayer.achternaam},
            &#160;<br />
            &#160;<br />
            Hierbij bevestigen wij dat de Stichting Universele Kerk van Gods Rijk,
            gedurende #{frontPageVisitorPdf.jaartal}, een totaal giften bedrag <h:outputText value="#{frontPageVisitorPdf.jaarTotaal}" >
            <f:convertNumber type="currency"  locale="nl_NL" currencySymbol="€" />
        </h:outputText> van u heeft ontvangen, ten bate van werkzaamheden van de stichting.
        </p>
        &#160;<br />
        <p>
            Wij hopen u hiermee voldoende van dienst te zijn geweest. Wij danken u vriendelijk voor de giften.
            Indien u vragen heeft, kunt u contact opnemen met de hoofdvestiging op de kantoorlijn (070 388 84 42).
        </p>

        &#160;<br />
        &#160;<br />
        &#160;<br />
        &#160;<br />

        <img  src="#{frontPageVisitorPdf.pngSignature}" height="80px"/>

        &#160;<br />
        &#160;<br />

        <span>Namens de UKGR</span><br/>
        (Contactpersoon : #{director})

    </div>




</body>
</html>