<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets">
    <div style="display: inline-block;overflow:hidden;white-space: nowrap;">
        <div style="float:left;width:7cm !important;">
            <ui:fragment rendered="#{not empty pdfReportBean.payerYearPageStart}">
                <ui:include src="jaarDetailData.xhtml" />
            </ui:fragment>
        </div>
        <div style="float:right;width:7cm !important;">
            <ui:fragment rendered="#{not empty pdfReportBean.payerYearPageEnd}">
                <ui:include src="jaarDetailDataEnd.xhtml" />
            </ui:fragment>
        </div>
    </div>
</ui:composition>


