<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html">
    <table class="header">
        <tr>
            <td style="text-align: left;">#{title}</td>
        </tr>
    </table>

</ui:composition>



