<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div style="float:right;width: 4.1cm !important;margin-top:2cm;">
        <ui:repeat value="#{pdfReportBean.jaaroverzicht}" var="jaarItem">
            <div class="summary">
                <div class="labelu" >#{jaarItem.betaalmethode}</div>
                <div class="valueu" ><h:outputText value="#{jaarItem.totaal}" >
                    <f:convertNumber type="currency"  locale="nl_NL" currencySymbol="€" />
                </h:outputText></div>
            </div>
        </ui:repeat>
        <div class="summary hr" >
            <div class="labelu" ><strong>Totaal</strong></div>
            <div class="valueu" ><h:outputText value="#{pdfReportBean.jaarTotaal}" >
                <f:convertNumber type="currency"  locale="nl_NL" currencySymbol="€" />
            </h:outputText></div>
        </div>
    </div>
</ui:composition>