<!DOCTYPE html>
<html  xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <title>Jaaroverzicht per locatie</title>
</head>
<body>
    <h4 style="font-size: 18pt;color:red;margin-bottom: 0.5cm;">#{pdfLocatiesBean.locatiedata.woonplaats},
        #{pdfLocatiesBean.locatiedata.straatnaam}  [#{pdfLocatiesBean.jaartal}]</h4>
    <div style="display:block;overflow:hidden;">
        <table style="margin-bottom: 0;padding:0;" cellpadding="0" cellspacing="1">
            <tr>
                <td>&#160;  </td>
                <td>&#160;  </td>
                <td style="width:5.5cm !important;"><strong>Naam</strong></td>
                <td><strong>Postcode/Nr</strong></td>
            </tr>
            <ui:repeat value="#{pdfLocatiesBean.payerLeftData}" var="jaarPayer">
                <tr style="margin-bottom: 0px;">
                    <td style="width:20px;height:15px;border:1px solid darkgray;" >  </td>
                    <td>&#160;  </td>
                    <td> #{jaarPayer.voornaam} #{jaarPayer.achternaam}</td>
                    <td> #{jaarPayer.postcode}, #{jaarPayer.nummer}#{jaarPayer.toevoeging} (#{jaarPayer.straatnaam})</td>
                </tr>
            </ui:repeat>
        </table>
    </div>
</body>
</html>