<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core">
        <ui:repeat value="#{pdfReportBean.payerYearPageStart}" var="jaarItemStartPage">
            <div class="transacties">
                <div class="li">
                    <h:outputText value="#{jaarItemStartPage.transactiedatum}"   >
                        <f:convertDateTime pattern="dd-MM-yyyy" timeZone="CET" type="date" />
                    </h:outputText>
                </div>
                <div class="li method">#{jaarItemStartPage.betaalmethode}</div>
                <div class="li amount" style="text-align: right;">
                    <h:outputText value="#{jaarItemStartPage.bedrag}" >
                        <f:convertNumber type="currency"  locale="nl_NL" currencySymbol="€" />
                    </h:outputText>
                </div>
            </div>
        </ui:repeat>
</ui:composition>