<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
    <title>Jaaroverzicht</title>
</head>
<body>
    <ui:include src="header.xhtml" />
    <div style="display:block;overflow:hidden;padding-bottom:2cm;">
        <div style="display: block;overflow:hidden;">
            <div style="float:left;width:7cm !important;">
                <ui:include src="persoonsinfo.xhtml" />
            </div>
            <div style="float:right;width:7cm !important;">
                <ui:include src="jaarData.xhtml" />
            </div>
        </div>
        <ui:fragment rendered="#{empty pdfReportBean.maandoverzicht}">
            <ui:include src="duoTable.xhtml" />
        </ui:fragment>
        <ui:fragment rendered="#{not empty pdfReportBean.maandoverzicht}">
            <ui:include src="taxOverzicht.xhtml" />
        </ui:fragment>
    </div>
</body>
</html>