<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets">
    <div style="display: inline-block;overflow:hidden;white-space: nowrap;">
        <div style="float:left;width:8cm !important;">
            <ui:fragment rendered="#{not empty pdfPayerLocatieYearBean.payerYearPageStart}">
                <ui:include src="pageJaarLeftData.xhtml" />
            </ui:fragment>
        </div>
        <div style="float:right;width:8cm !important;">
            <ui:fragment rendered="#{not empty pdfPayerLocatieYearBean.payerYearPageEnd}">
                <ui:include src="pageJaarRightData.xhtml" />
            </ui:fragment>
        </div>
    </div>
</ui:composition>


