<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core">
        <ui:repeat value="#{pdfPayerLocatieYearFullDetailBean.payerYearPageStart}" var="jaarItemStartPage">
            <div class="transacties">
                <div class="li names">#{jaarItemStartPage.voornaam} #{jaarItemStartPage.achternaam}</div>
                <div class="li adres" > #{jaarItemStartPage.straatnaam}  #{jaarItemStartPage.nummer}#{jaarItemStartPage.toevoeging}, #{jaarItemStartPage.postcode} #{jaarItemStartPage.woonplaats}</div>
                <div class="li amount" style="text-align: right;">
                    <h:outputText value="#{jaarItemStartPage.ontvangen}" >
                        <f:convertNumber type="currency"  locale="nl_NL" currencySymbol="€" />
                    </h:outputText>
                </div>
            </div>
        </ui:repeat>
</ui:composition>