<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:repeat value="#{pdfPayerLocatieYearBean.payerYearPageEnd}" var="jaarItemStartPage">
        <div class="transacties"  style="float:right !important;">
            <div class="li right amount" >
                <h:outputText value="#{jaarItemStartPage.ontvangen}" >
                    <f:convertNumber type="currency"  locale="nl_NL" currencySymbol="€" />
                </h:outputText>
            </div>
            <div class="li right method"  >#{jaarItemStartPage.nummer}#{jaarItemStartPage.toevoeging}</div>
            <div class="li right"><h:outputText value="#{jaarItemStartPage.postcode}"   /></div>
        </div>
    </ui:repeat>
</ui:composition>