<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
    <title>Jaaroverzicht</title>
</head>
<body>
    <ui:include src="header.xhtml" />
    <div style="display:block;overflow:hidden;padding-bottom:2cm !important;">
        <div style="display: block;overflow:hidden;">
            <div style="float:left;width:7cm !important;">
                <ui:include src="persoonsinfo.xhtml" />
            </div>
            <div style="float:right;width:7cm !important;text-align: right;">
                <span style="font-size:14px;font-weight: bold;color:darkslateblue;">Vervolg Overzicht</span>
            </div>
        </div>
        <ui:fragment >
            <ui:include src="duoTable.xhtml" />
        </ui:fragment>
    </div>
</body>
</html>