<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <title>Jaaroverzicht UKGR code #{pdfPayerLocatieYearFullDetailBean.locatieUkgrCode}</title>
</head>
<body>
    <table class="header">
        <tr>
            <td style="text-align: left;">Jaaroverzicht #{pdfPayerLocatieYearFullDetailBean.jaartal} UKGR#{pdfPayerLocatieYearFullDetailBean.locatieUkgrCode} </td>
        </tr>
    </table>
    <div style="display:block;overflow:hidden;padding-bottom:2cm !important;">
        <div style="display: block;overflow:hidden;">
            <div style="float:left;width:7cm !important;">
                <div style="margin-top:2cm;">
                    <div class="naamdata">
                        <div  class="labelu" >Gemeente:</div>
                        <div class="valueu">#{pdfPayerLocatieYearFullDetailBean.locatiePlaatsnaam}</div>
                    </div>
                    <div class="naamdata">
                        <div  class="labelu" >Postcode:</div>
                        <div class="valueu" >#{pdfPayerLocatieYearFullDetailBean.locatiePostCode}</div>
                    </div>
                    <div  class="naamdata">
                        <div  class="labelu" >Adres:</div>
                        <div class="valueu" style="clear: both;"> #{pdfPayerLocatieYearFullDetailBean.locatieStraatnaam} #{pdfPayerLocatieYearFullDetailBean.locatieNummer}</div>
                    </div>
                    <div class="naamdata">
                        <div  class="labelu" >&#160;</div>
                        <div class="valueu" >&#160;</div>
                    </div>
                </div>
            </div>
            <div style="float:right;width:7cm !important;text-align: right;">
                <div style="float:right;width: 4.1cm !important;">
                    <div class="summary" >
                        <div class="labelu" ><strong>Totaal</strong></div>
                        <div class="valueu" ><h:outputText value="#{pdfPayerLocatieYearFullDetailBean.locatieOntvangen}" >
                            <f:convertNumber type="currency"  locale="nl_NL" currencySymbol="€" />
                        </h:outputText></div>
                    </div>
                </div>
            </div>
        </div>
        <ui:fragment >
            <ui:include src="pageJaarNamedData.xhtml" />
        </ui:fragment>
    </div>
</body>
</html>