<ui:composition  xmlns:ui="http://java.sun.com/jsf/facelets">
    <div style="margin-top:2cm;">
        <div class="naamdata">
            <div class="labelu" >Naam:</div>
            <div class="valueu" style="clear: both;">#{pdfReportBean.currentPayer.voornaam} #{pdfReportBean.currentPayer.achternaam}</div>
        </div>
        <div  class="naamdata">
            <div  class="labelu" >Adres:</div>
            <div class="valueu" style="clear: both;"> #{pdfReportBean.currentPayer.straatnaam} #{pdfReportBean.currentPayer.nummer} #{pdfReportBean.currentPayer.toevoeging}</div>
        </div>
        <div class="naamdata">
            <div  class="labelu" >Woonplaats:</div>
            <div class="valueu">#{pdfReportBean.currentPayer.postcode} #{pdfReportBean.currentPayer.woonplaats}</div>
        </div>
        <div class="naamdata">
            <div  class="labelu" >Telefoon:</div>
            <div class="valueu" >#{pdfReportBean.currentPayer.telefoon}</div>
        </div>
        <div class="naamdata">
            <div  class="labelu" >&#160;</div>
            <div class="valueu" >&#160;</div>
        </div>
    </div>

</ui:composition>