<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core" >

    &#160; <br />
    &#160; <br />

    <table  align="center" class="mndtransacties" cellpadding="5px" cellspacing="1px" border="0">
        <tr style="margin:0;padding:0;color:darkred;" >
            <th style="text-align: left;">Maand</th>
            <th style="text-align: right;">Contant</th>
            <th style="text-align: right;">Pin</th>
            <th style="text-align: right;">Bank</th>
        </tr>
        <ui:repeat value="#{pdfReportBean.maandoverzicht}" var="maandItem">
            <tr style="margin:0;padding:0;border-bottom: 1px solid cornflowerblue;" >
                <td style="text-align: left;">#{maandItem.maand}</td>
                <td style="text-align:right;">
                    <h:outputText value="#{maandItem.contant}" >
                        <f:convertNumber type="currency"  locale="nl_NL" currencySymbol="€" />
                    </h:outputText>
                </td>
                <td style="text-align:right;">
                    <h:outputText value="#{maandItem.pin}" >
                        <f:convertNumber type="currency"  locale="nl_NL" currencySymbol="€" />
                    </h:outputText>
                </td>
                <td style="text-align:right;">
                    <h:outputText value="#{maandItem.bank}" >
                        <f:convertNumber type="currency"  locale="nl_NL" currencySymbol="€" />
                    </h:outputText>
                </td>
            </tr>
        </ui:repeat>
    </table>

</ui:composition>