<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <title>Error Page Registratie</title>
    <h:outputStylesheet library="css" name="style.css"  />
</h:head>
<h:body>
    <div class="LoginPage">
        <div style="display:block;overflow:hidden;">
            <div  style="display:block;overflow:hidden;">
                <h:graphicImage library="images"  name="sitelogo_red.png" style="float: left" width="55px"/>
                <a href="https://trustlogo.com/" title="Secured by Comodo" class="comodo" target="_blank" />
                <H1 style="color:red;text-align:center;margin:0; ">Error Page Registratie</H1>
                <p>Failed Request: #{url}</p>

                 #{errorMsg}
            </div>
        </div>
    </div>

</h:body>

</html>