<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <title>Aanmelding registratie</title>
    <h:outputStylesheet library="css" name="style.css"  />
</h:head>
<h:body>
    <div class="LoginPage">
        <div style="display:block;overflow:hidden;">
            <div  style="display:block;overflow:hidden;">
                <h:graphicImage library="images"  name="sitelogo_red.png" style="float: left" width="55px"/>
                <a href="https://trustlogo.com/" title="Secured by Comodo" class="comodo" target="_blank" />
                <H1 style="color:red;text-align:center;margin:0; ">Inloggen Offerande Registratie</H1>
                <form action="check.html"  method="post" class="login" >

                    <table class="login" >
                        <tr>
                            <td>Username</td>
                            <td><input type="text" name="username" value="#{username}" autofocus="autofocus" /></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input type="password" name="password" value="" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right;"><input type="submit" value="Aanmelden" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="color:red;">#{error} </td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>
    </div>

</h:body>

</html>