<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>Aanmelding registratie</title>
    <h:outputStylesheet library="css" name="style.css"  />
</h:head>
<h:body>
    <ui:include src="../global/header.xhtml"   >
        <ui:param name="pageTitle" value="#{userPasswordBean.viewTitle}" />
        <ui:param name="userIdent" value="#{userPasswordBean.webUserData}" />
    </ui:include>
    <ui:include src="../global/menu.xhtml"   >
        <ui:param name="currentMenu" value="#{userPasswordBean.activeMenuDef}" />
    </ui:include>
    <div class="MainCenterPage" >
        <div style="display:block;overflow:hidden;">
            <ui:include src="signature.xhtml"  />
            <ui:include src="updatePassword.xhtml" />
            <div style="clear:both; display:block; overflow:hidden;">

                <ui:include src="otherUsers.xhtml" />

            </div>


        </div>
    </div>
    <ui:include src="../global/footer.xhtml"   />
</h:body>

</html>