<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:a="http://java.sun.com/jsf/composite" xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:form  enctype="multipart/form-data"  style="float:right; width:350px;margin-right:10px;" rendered="#{userPasswordBean.beheerder}">

        <h3>Handtekening Rapportages</h3>
        <img  src="#{userPasswordBean.pngSignature}" height="110px"/>

        <div style="clear:both; display:block;">
            <table>
                <tr>
                    <td>
                        Wijzigen
                    </td>
                    <td>
                        <p:fileUpload id="importfile" mode="simple"
                                      label="Kies handtekening &#160; &#160; &#160;"
                                      value="#{userPasswordBean.newSignature}"
                                      allowTypes="/(\.|\/)(gif|jpe?g|png)$/"  />
                    </td>
                    <td>
                        <h:commandButton id="saveTransaction" styleClass="buttonSave"
                                         action="#{userPasswordBean.updateSignature}" title="Wijzigen" />
                    </td>
                </tr>
            </table>
            <p>Zorg ervoor dat het een PNG plaatje is met minimale hoogte 150px.
                U kunt het beste een screenshot maken van een PDF document met een handtekening erop. Anders krijgt u last van schaduw in de
            handtekening.</p>
        </div>
    </h:form>

</ui:composition>