<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:a="http://java.sun.com/jsf/composite" xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h2>Uw naam of Passwoord wijzigen</h2>
    <h:form  name="updatePassword" id="updatePassword" >
        <ui:fragment>
            <p:defaultCommand target="WijzigWachtwoord" />
            <table>
                <tr>
                    <td>Username</td>
                    <td>
                        #{userPasswordBean.alterUser.userid}
                    </td>
                    <td>
                        &#160;
                    </td>
                </tr>
                <tr>
                    <td>Voornaam</td>
                    <td>
                        <h:inputText id="Voornaam" name="Voornaam" size="15"
                                     value="#{userPasswordBean.alterUser.voornaam}" required="true"
                                     readonly="#{userPasswordBean.alterUser.userid=='admin'}"/>

                    </td>
                    <td>
                        <h:message for="Voornaam" style="color:red" />
                    </td>
                </tr>
                <tr>
                    <td>Achternaam</td>
                    <td>
                        <h:inputText id="Achternaam" name="Achternaam" size="15"
                                     value="#{userPasswordBean.alterUser.achternaam}"
                                     readonly="#{userPasswordBean.alterUser.userid=='admin'}" required="true" />
                    </td>
                    <td>
                        <h:message for="Achternaam" style="color:red" />
                    </td>
                </tr>
                <tr>
                    <td>Actuele wachtwoord</td>
                    <td>
                        <h:inputSecret id="ActueleWachtwoord"  name="ActueleWachtwoord" size="15"
                                       value="#{userPasswordBean.oldpassword}" />
                    </td>
                    <td>
                        <h:message for="ActueleWachtwoord" style="color:red" />
                    </td>
                </tr>
                <tr>
                    <td>Nieuwe wachtwoord</td>
                    <td>
                        <h:inputSecret id="NieuweWachtwoord"  name="NieuweWachtwoord" size="15"
                                       value="#{userPasswordBean.newPasswordA}" />
                    </td>
                    <td>
                        <h:message for="NieuweWachtwoord" style="color:red" />
                    </td>
                </tr>
                <tr>
                    <td>Nieuwe wachtwoord Controle</td>
                    <td>
                        <h:inputSecret id="NieuweWachtwoordControle"  name="NieuweWachtwoordControle" size="15"
                                       value="#{userPasswordBean.newPasswordB}" />
                    </td>
                    <td>
                        <h:message for="NieuweWachtwoordControle" style="color:red" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <h:commandButton  id="WijzigWachtwoord" name="WijzigWachtwoord" style="float:right;"
                                          value="Opslaan"  action="#{userPasswordBean.updateMySelf}" />
                        <h:message for="WijzigWachtwoord" style="color:navy" />
                    </td>
                </tr>

            </table>
        </ui:fragment>
        <p:focus for="Voornaam"/>
    </h:form>
</ui:composition>
