<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:a="http://java.sun.com/jsf/composite"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:form id="ZoekGebruiker"
            rendered="#{empty userPasswordBean.otherUsers and empty userPasswordBean.currentUser and empty userPasswordBean.newUser}" >
        <h2>Overige gebruikers</h2>
        <table>
            <tr>
                <td>
                    Achternaam
                </td>
                <td>
                    <h:inputText size="25" id="achternaam" value="#{userPasswordBean.searchUser.achternaam}"  >
                    </h:inputText>
                </td>
            </tr>
            <tr>
                <td>
                    Voornaam
                </td>
                <td>
                    <h:inputText size="25" id="voornaam" value="#{userPasswordBean.searchUser.voornaam}" >
                    </h:inputText>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right">
                    <h:commandButton  id="toevoegenGebruiker"  value="Toevoegen"
                                      action="#{userPasswordBean.addNewUser}" />&#160;
                    <h:commandButton  id="opzoekenGebruiker" value="Opzoeken"
                                      action="#{userPasswordBean.haalGebruikersOp}" />&#160;

                </td>
            </tr>
        </table>
        <p:focus for="achternaam"/>
        <p:defaultCommand target="opzoekenGebruiker" />
        <h:message for="voornaam" style="color:red" />
    </h:form>
</ui:composition>