<ui:composition
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html" >
        <h:form id="LetterEditorUpdater" name="LetterEditorUpdater"  >
            <h2>Wijzigen #{letterBean.currentTag}</h2>
            <p:defaultCommand target="saveMessageCmd" />
            <div style="display: block;overflow: hidden">
                <p:editor widgetVar="editorWidget"   id="boodschap" style="width:100%" process="@form"
                          value="#{letterBean.briefData}"     height="400"/>
                <div style="display: block;overflow: hidden">
                    <h:commandButton id="saveMessageCmd" styleClass="buttonSave"
                                     action="#{letterBean.exitEdit(true)}"  title="Opslaan" />

                    <h:commandButton id="cancleCmd" styleClass="buttonCancel"
                                     action="#{letterBean.exitEdit(false)}"  title="Annuleren" />

                </div>
            </div>
        </h:form>
</ui:composition>