<ui:composition
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"

        template="../template/commonLayout.xhtml" >
    <ui:param name="usebean"  value="#{letterBean}"  />
    <ui:define name="content">
        <h:form id="selectEditItem" name="selectEditItem"
                rendered="#{empty letterBean.editTag }" >

            <h:selectOneListbox value="#{letterBean.currentTag}" >
                <f:selectItems value="#{letterBean.tags}" var="letterTag"
                               itemLabel="#{letterTag}" itemValue="#{letterTag}" />
                <f:ajax />
            </h:selectOneListbox>

            <h:commandButton  id="wijzigingen" styleClass="buttonEdit"
                              immediate="true"    action="#{letterBean.startChange}" />&#160;
        </h:form>

        <h:form id="editItem" name="editItem"
                rendered="#{not empty letterBean.editTag }" >
            <ui:include src="edit.xhtml" />
        </h:form>



    </ui:define>
</ui:composition>