<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: amrit
  Date: 12/12/17
  Time: 10:57 PM
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>#{locatieBean.viewTitle}</title>
    <h:outputStylesheet library="css" name="style.css"  />
</h:head>
<h:body>
    <ui:include src="../global/header.xhtml"   >
        <ui:param name="pageTitle" value="#{locatieBean.viewTitle}" />
        <ui:param name="userIdent" value="#{locatieBean.webUserData}" />
    </ui:include>

    <ui:include src="../global/menu.xhtml"   >
        <ui:param name="currentMenu" value="Locaties" />
    </ui:include>

    <div class="MainCenterPage">
        <div style="display:block;overflow:hidden;">
            <div>
                <h:form id="LocatieLijst" name="LocatieLijst"
                        rendered="#{empty locatieBean.newLocatie and empty locatieBean.currentLocatie }" >
                    <ui:include src="listLocaties.xhtml" />
                </h:form>
                <h:form id="ToevoegLocatie" name="ToevoegLocatie"  rendered="#{not empty locatieBean.newLocatie}" >
                    <ui:include src="addLocatie.xhtml" />
                </h:form>
                <h:form id="WijzigLocatie" name="WijzigLocatie" rendered="#{not empty locatieBean.currentLocatie}" >
                    <ui:include src="editlocatie.xhtml" />
                </h:form>
            </div>
        </div>
    </div>
    <ui:include src="../global/footer.xhtml"   />
</h:body>
</html>