<p style="text-align: justify;text-justify: inter-word;margin-bottom: 10px;">
    Bedrijf #{geachteTxt},
    &#160;<br />
    &#160;<br />
    Hierbij bevestigen wij dat de Stichting Universele Kerk van Gods Rijk, giften van u
    heeft ontvangen, ten bate van de werkzaamheden van de stichting. Gedurende #{jaar} bedroegen de  totale
    giften die de UKGR heeft ontvangen #{bedag}.  Dit bedrag is aftrekbaar bij uw aangifte inkomstenbelasting.
    Op de tweede pagina vindt u een specificatie van al uw giften.
</p>
<p style="text-align: justify;text-justify: inter-word;margin-bottom: 10px;">
    LET OP: vanaf 2023 worden contante giften niet meer in de specificatie vermeld, omdat contante giften vanaf 01/01/2021
    niet meer door de belastingdienst als aftrekbaar worden geaccepteerd. Jaaroverzichten voor giften gegeven vóór het jaar
    2022 bevatten echter nog wel een specificatie inclusief contante giften.
</p>
<p style="text-align: justify;text-justify: inter-word;margin-bottom: 10px;">
    Houdt u er echter rekening mee dat uw contante giften in uw jaaropgave van 2021 niet meer als aftrekbaar worden geaccepteerd,
    alleen de giften die in die jaaropgave vermeld staan met pin en bankoverschrijving zijn aftrekbaar. Jaaropgaven met contante
    giften die dateren vóór het jaar 2021 zijn nog wel aftrekbaar.
</p>
<p style="text-align: justify;text-justify: inter-word;margin-bottom: 10px;">
    Wij hopen u hiermee voldoende van dienst te zijn geweest. Wij danken u vriendelijk voor de giften. Mocht u vragen
    hebben, dan kunt u contact opnemen met onze administratie op 070 388 8442.
</p>
