body {
    font-family: Verdana, Arial, 'sans-serif' !important;
    font-size : 10pt !important;
}

table{
    border-collapse: collapse;
}

table tr{
    margin : 0;
    padding : 0;
}

table tr  td {
    padding : 1px;
    margin: 0;
    font-size : 9pt;
    white-space: nowrap;
    vertical-align: top;
}


table.totalValues {
    margin:0;
    padding:0;
    width:5cm !important;
    font-size:9pt !important;
}


table.totalValues tr td {
    font-family:Arial,Tahoma,Verdana;
    font-size:9pt !important;

}

table.totalValues tr td span {
    font-family:Arial,Tahoma,Verdana;
    font-size:9pt !important;

}

table.header{
    width: 100% !important;
    margin-bottom: 2cm !important;
}


table.header tr td {
    font-family:Arial;
    font-weight: bold;
    font-size:24pt !important;
}

table.header tr td.locaties {
    font-family:Arial;
    font-weight: bold;
    font-size:14pt !important;
    text-align: right;
}


table.headerLetter{
    width: 100% !important;
    margin-bottom: 1cm !important;
}


table.headerLetter tr td {
    font-family:Arial;
    font-weight: bold;
    font-size:24pt !important;
}


h1 {
    font-size: 14pt;
    text-align:center;
}

h2 {
    color : darkblue;
}

table.transacties {
    width:6cm !important;
    font-size:5pt !important;
    color:black;
    margin-top:0;
    padding:0;
}

table.transacties tr {
    margin:0;
    padding:0;
    height: 3mm !important;

}

table.transacties tr th {
    font-size: 9pt !important;

}

table.transacties tr td {
    padding : 0 !important;
    margin : 0 !important;
    font-size:8pt !important;
}

table.transacties tr td span {
    font-size:8pt !important;
    margin: 0;
    padding:0;
}

table.mndtransacties {
    width:10cm !important;
    font-size:5pt !important;
    color:black;
    margin-top:0;
    padding:0;
    border : 2px groove whitesmoke;

}

table.mndtransacties tr {
    margin:0;
    padding:0;
}

table.mndtransacties tr:nth-child(odd) {

}
table.mndtransacties tr:nth-child(even) {

}

table.mndtransacties tr th {
    font-size: 9pt !important;

}

table.mndtransacties tr td {
    padding : 0 !important;
    margin : 0 !important;
    font-size:8pt !important;
}

table.mndtransacties tr td span {
    font-size:8pt !important;
    margin: 0;
    padding:0;
}


div.transacties {
    padding-left: 0px;
    font-size:11px;
    margin: 0;
    padding: 0;
    display:inline-block;
    overflow: hidden;
    clear: both;
    white-space: nowrap;
}


div.transacties div.li {
    float: left;
    width: 2cm;
    text-align: left;
}

div.transacties div.li.right {
    float: right !important;
}

div.transacties div.li.amount {
    text-align: right;
}

div.transacties div.li.method {
    width: 1.5cm;
    text-transform:lowercase;

}

div.transacties div.li.names {
    float: left;
    width: 5.5cm;
    text-align: left;
}

div.transacties div.li.adres {
    float: left;
    width: 8cm;
    text-align: left;
}


div.naamdata {
    color: navy;
    padding-left: 0px;
    font-size:9pt;
    margin: 0;
    padding: 0;
    display:inline-block;
    overflow: hidden;
    clear: both;
    white-space: nowrap;
}

div.naamdata div.labelu {
    float:left;
    width: 2.2cm;
    font-weight: bold;
}

div.naamdata div.valueu {
    float:left;
    width: 4.8cm;
}


div.summary {
    padding-left: 0px;
    font-size:9pt;
    margin: 0;
    padding: 0;
    display:inline-block;
    overflow: hidden;
    clear: both;
    white-space: nowrap;

}

div.summary div.labelu {
    float:left;
    text-align: left;
    width: 1.7cm;
}

div.summary div.valueu {
    float:right;
    width: 2.3cm;
    text-align: right;
}

div.summary.hr {
    border: 0;
    border-top: 2px solid darkblue;
}





