<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h2>Basis Gegevens Toevoegen</h2>
    <p:defaultCommand target="saveAddPayer" />
    <table>
        <tr>
            <td>Acternaam/Bedrijf</td>
            <td>
                <h:inputText id="achternaam" value="#{payerBean.payerData.achternaam}"  required="true"  />
            </td>
            <td>
                <h:message for="achternaam" style="color:red" />
            </td>
        </tr>
        <tr>
            <td>Voornaam/Rechtspersoon</td>
            <td>
                <h:inputText id="voornaam" value="#{payerBean.payerData.voornaam}"  required="true"   />
            </td>
            <td>
                <h:message for="voornaam" style="color:red" />
            </td>
        </tr>
        <tr>
            <td>Type Registratie</td>
            <td>
                <h:selectOneListbox id="gender" value="#{payerBean.payerData.geslacht}" size="1">
                    <f:selectItem itemLabel="Man" itemValue="M" />
                    <f:selectItem itemLabel="Vrouw" itemValue="V" />
                    <f:selectItem itemLabel="Bedrijf" itemValue="B" />
                </h:selectOneListbox>
            </td>
            <td>  &#160; </td>
        </tr>
        <tr>
            <td>Telefoon</td>
            <td><h:inputText id="telefoon" value="#{payerBean.payerData.telefoon}"  /> </td>
            <td>  &#160; </td>
        </tr>
        <tr>
            <td>Postcode</td>
            <td>
                <h:inputText size="6" id="postcode" name="postcode" value="#{payerBean.payerData.postcode}"
                             style="text-transform:uppercase;"       required="true"   >
                    <f:ajax listener="#{payerBean.postCodeEditPersonChanged}"  render="StraatNaam Woonplaats" />
                </h:inputText>
            </td>
            <td>  <h:message for="postcode" style="color:red" /> </td>
        </tr>
        <tr>
            <td>
                StraatNaam
            </td>
            <td>
                <h:inputText id="StraatNaam" name="StraatNaam" value="#{payerBean.payerData.straatnaam}"
                             required="true"   />

            </td>
            <td>
                <h:message for="StraatNaam" style="color:red" />
            </td>
        </tr>
        <tr>
            <td>Huisnummer / Toevoeging</td>
            <td>
                <p:spinner id="huisnummer" name="huisnummer"  size="4" value="#{payerBean.payerData.nummer}" required="true" />
                &#160;
                <h:inputText id="toevoeging" value="#{payerBean.payerData.toevoeging}" size="5" />
            </td>
            <td><h:message for="huisnummer" style="color:red" /> </td>
        </tr>
        <tr>
            <td>
                Woonplaats
            </td>
            <td>
                <h:inputText id="Woonplaats" name="Woonplaats" value="#{payerBean.payerData.woonplaats}"
                             required="true"   />
            </td>
            <td>
                <h:message for="Woonplaats" style="color:red" />
            </td>
        </tr>
        <tr>
            <td colspan="2" >  &#160; </td>
            <td style="text-align: right;">
                <div style="float:right;width:75px;">
                    <h:commandButton id="saveAddPayer" styleClass="buttonSave"
                                     action="#{payerBean.saveNewPerson}"  title="Opslaan" />
                    <div>
                        <h:commandLink  id="cancelAddPayer"  title="Annuleren"   immediate="true"
                                        action="#{payerBean.cancelAddPerson}"  >
                            <h:graphicImage   library="images" name="icons8-return-30.png"/>
                        </h:commandLink>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <p:focus for="achternaam"/>
</ui:composition>