<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <p:defaultCommand target="saveTransaction" />
    <h:inputHidden name="postcode" value="#{payerBean.postcode}" />
    <h:inputHidden name="huisnummer" value="#{payerBean.huisnummer}" />
    <h2>Transactie Toevoegen</h2>
    <table>
        <tr>
            <td  title="localização da igreja">Locatie:</td>
            <td>
                <h:selectOneMenu value="#{payerBean.currentLocatie}" onchange = "submit()"
                                 valueChangeListener="#{payerBean.changeLocation}">
                    <f:selectItems value="#{payerBean.locaties}" var="loc"
                                   itemLabel="#{loc.woonplaats}, #{loc.straatnaam}"
                                   itemValue="#{loc.id}" />
                </h:selectOneMenu>
            </td>

        </tr>
        <tr>
            <td title="nome">Naam:</td> <td>#{payerBean.currentPayer.voornaam} #{payerBean.currentPayer.achternaam}</td>
        </tr>
        <tr>
            <td title="endereço">Adres:</td> <td>#{payerBean.currentPayer.straatnaam} #{payerBean.currentPayer.nummer} #{payerBean.currentPayer.woonplaats}</td>
        </tr>
        <tr>
            <td title="Data">Datum:</td>
            <td>
                <p:calendar id="transactiedatum" value="#{payerBean.transactieData.transactiedatum}" name="transactiedatum"
                            yearRange="c-1:c+1" navigator="true"  pattern="dd-MM-yyyy" required="true" />

            </td>

        </tr>
        <tr>
            <td title="Método de pagamento">Betaal Methode:</td>
            <td>
                <h:selectOneListbox id="betaalmethode" name="betaalmethode" value="#{payerBean.transactieData.betaalmethode}" >
                    <f:selectItems value="#{payerBean.paymentMethod}" var="payMethod"
                                   itemLabel="#{payMethod}" itemValue="#{payMethod}" />
                </h:selectOneListbox>
            </td>

        </tr>
        <tr>
            <td title="quantidade de dinheiro">Donatie:</td>
            <td>
                <p:spinner min="0.05" id="huisnummer" name="huisnummer" size="10" max="1000000"
                           stepFactor="0.01" value="#{payerBean.transactieData.bedrag}"  required="true" />
            </td>

        </tr>
        <tr>
            <td>Scan/PDF:</td>
            <td>
                <h:inputFile id="importfile" value="#{payerBean.pdfTransacties}"/>
            </td>

        </tr>

        <tr>
            <td colspan="2" >
               <label title="Múltiplas transações"><h:selectBooleanCheckbox style="float:left;" value="#{payerBean.moreTransactions}" />Meerdere transacties</label>
            </td>

        </tr>
        <tr>
            <td >  </td>
            <td  style="text-align: right;">
                <div style="float:right;width:75px;">
                    <h:commandButton id="saveTransaction" styleClass="buttonSave"
                                     action="#{payerBean.saveTransaction}" title="Opslaan" />
                    <div>
                        <h:commandLink  id="cancelTransaction"  title="Annuleren"
                                        immediate="true" action="#{payerBean.cancelTransaction}"  >
                            <h:graphicImage   library="images" name="icons8-return-30.png"/>
                        </h:commandLink>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <ui:fragment rendered="#{not empty payerBean.lastPdfTransacties}">
         &#160;<br />
         <p style="color:red;">
            De laatste Scan (#{payerBean.lastPdfTransacties}) zal gebruikt worden
            voor <strong>ALLE</strong> volgende transacties, zolang de checkbox
            meerdere transacties aangevinkt is. Indien u een andere
            scan wilt gebruiken zult u een nieuwe upload moeten uitvoeren.
        </p>
    </ui:fragment>
</ui:composition>
