<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">
        <p:defaultCommand target="savePayerUpdate" />
        <h2>Basis Gegevens Wijzigen</h2>
        <table>
            <tr>
                <td>Acternaam/Bedrijf</td>
                <td>
                    <h:inputText id="achternaam" value="#{payerBean.currentEditPayer.achternaam}"  required="true"  />
                </td>
                <td>
                    <h:message for="achternaam" style="color:red" />
                </td>
            </tr>
            <tr>
                <td>Voornaam/Rechtspersoon</td>
                <td>
                    <h:inputText id="voornaam" value="#{payerBean.currentEditPayer.voornaam}"  required="true"   />
                </td>
                <td>
                    <h:message for="voornaam" style="color:red" />
                </td>
            </tr>
            <tr>
                <td>Type Registratie</td>
                <td>
                    <h:selectOneListbox id="gender" value="#{payerBean.currentEditPayer.geslacht}" size="1">
                        <f:selectItem itemLabel="Man" itemValue="M" />
                        <f:selectItem itemLabel="Vrouw" itemValue="V" />
                        <f:selectItem itemLabel="Bedrijf" itemValue="B" />
                    </h:selectOneListbox>
                </td>
                <td>  &#160; </td>
            </tr>
            <tr>
                <td>Telefoon</td>
                <td><h:inputText id="telefoon" value="#{payerBean.currentEditPayer.telefoon}"  /> </td>
                <td>  &#160; </td>
            </tr>
            <tr>
                <td>Postcode</td>
                <td>
                    <h:inputText size="6" id="postcode" name="postcode" value="#{payerBean.currentEditPayer.postcode}"
                                 style="text-transform:uppercase;"       required="true"   >
                        <f:ajax listener="#{payerBean.postCodeEditPersonChanged}"  render="StraatNaam Woonplaats" />
                    </h:inputText>
                </td>
                <td>  <h:message for="postcode" style="color:red" /> </td>
            </tr>
            <tr>
                <td>
                    StraatNaam
                </td>
                <td>
                    <h:inputText id="StraatNaam" name="StraatNaam" value="#{payerBean.currentEditPayer.straatnaam}"
                                   required="true"   />

                </td>
                <td>
                    <h:message for="StraatNaam" style="color:red" />
                </td>
            </tr>
            <tr>
                <td>Huisnummer / Toevoeging</td>
                <td>
                    <p:spinner id="huisnummer" name="huisnummer"  size="4" value="#{payerBean.currentEditPayer.nummer}" required="true" />
                    &#160;
                    <h:inputText id="toevoeging" value="#{payerBean.currentEditPayer.toevoeging}" size="5" />
                </td>
                <td><h:message for="huisnummer" style="color:red" /> </td>
            </tr>
            <tr>
                <td>
                    Woonplaats
                </td>
                <td>
                    <h:inputText id="Woonplaats" name="Woonplaats" value="#{payerBean.currentEditPayer.woonplaats}"
                                 required="true"   />
                </td>
                <td>
                    <h:message for="Woonplaats" style="color:red" />
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: right;">
                    <div style="float:right;width:75px;">
                        <h:commandButton id="savePayerUpdate" styleClass="buttonSave"
                                         action="#{payerBean.savePersonEdit}" title="Opslaan" />
                        <div>
                            <h:commandLink  id="annuleerUpdatePayer"  title="Annuleren"
                                            immediate="true" action="#{payerBean.cancelPersonEdit}"  >
                                <h:graphicImage   library="images" name="icons8-return-30.png"/>
                            </h:commandLink>
                        </div>
                    </div>
                 </td>
            </tr>
        </table>
        <p:focus for="achternaam"/>
</ui:composition>