<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>#{payerBean.viewTitle}</title>
    <h:outputStylesheet library="css" name="style.css"  />

</h:head>
<h:body>
    <ui:include src="../global/header.xhtml"   >
        <ui:param name="pageTitle" value="#{payerBean.viewTitle}" />
        <ui:param name="userIdent" value="#{payerBean.webUserData}" />
    </ui:include>
    <ui:include src="../global/menu.xhtml"   >
        <ui:param name="currentMenu" value="#{payerBean.activeMenuDef}" />
    </ui:include>
    <div class="MainCenterPage" >
        <div  style="display:block;overflow:hidden;">
            <ui:fragment rendered="#{empty payerBean.payerData and empty payerBean.currentPayer and empty payerBean.currentEditPayer}">
                <ui:include src="searchPayer.xhtml" />
            </ui:fragment>

            <ui:include src="selectPayer.xhtml"/>
            <h:form id="ToevoegPersoon" name="ToevoegPersoon"  rendered="#{not empty payerBean.payerData}" >
                <ui:include src="addPayer.xhtml" />
            </h:form>
            <h:form id="ToevoegTransactie" name="ToevoegTransactie" enctype="multipart/form-data" rendered="#{not empty payerBean.currentPayer}" >
                <ui:include src="currentPayer.xhtml"   />
            </h:form>

            <h:form id="WijzigPersoon" name="WijzigPersoon" enctype="multipart/form-data" rendered="#{not empty payerBean.currentEditPayer}" >
                <ui:include src="editPayer.xhtml"   />
            </h:form>
        </div>

    </div>
    <ui:include src="../global/footer.xhtml"   />
</h:body>

</html>