<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core" >
    <h:form  name="payerSelector" id="payerSelector"  >
        <p:defaultCommand target="opzoekenPayer" />
        <table>
            <tr>
                <td colspan="2">Achternaam/Bedrijf</td>
                <td colspan="2">
                    <p:inputText size="20" id="achternaam" name="achternaam" value="#{payerBean.achternaam}"
                                  autofocus="true" >
                    </p:inputText>
                </td>
            </tr>
            <tr>
                <td colspan="2">Voornaam/Rechtspersoon</td>
                <td colspan="2">
                    <p:inputText size="20" id="voornaam" name="voornaam" value="#{payerBean.voornaam}"
                                 autofocus="true" >
                    </p:inputText>
                </td>
            </tr>
            <tr>
                <td>PostCode</td>
                <td>
                    <p:inputText size="6" id="postcode" name="postcode" value="#{payerBean.postcode}"
                                 style="text-transform:uppercase;"      autofocus="true" >
                        <f:ajax listener="#{payerBean.postCodeChanged}" render="hintData" />
                    </p:inputText>
                </td>
                <td>Huisnummer</td>
                <td style="text-align: right;">
                    <p:spinner id="huisnummer" name="huisnummer"  size="4"
                               max="99999" stepFactor="1" value="#{payerBean.huisnummer}"  >
                        <f:ajax listener="#{payerBean.postCodeChanged}" render="hintData" />
                    </p:spinner>
                </td>
            </tr>
            <tr>
                <td colspan="4"  style="text-align: right">
                    <h:commandLink  id="annuleerSearch"  title="Annuleren" style="float:right;margin-left:10px;"
                                    action="#{payerBean.annuleerSearch}"  rendered="#{payerBean.validAdresSearch}">
                        <h:graphicImage   library="images" name="icons8-return-30.png"/>
                    </h:commandLink>


                    <h:commandLink  id="toevoegenPayer"  title="Toevoegen" style="float:right;margin-left:10px;"
                                    action="#{payerBean.addPerson}"  rendered="#{payerBean.validAdresSearch}">
                        <h:graphicImage   library="images" name="users_add.png"/>
                    </h:commandLink>

                    <h:commandButton id="opzoekenPayer" styleClass="buttonSearchNoFloat" style="float:right"
                                     action="#{payerBean.fetchUsers}" title="Opzoeken" />


                </td>
            </tr>
            <tr>
                <td colspan="4" style="color:green;">
                    <h:outputText id="hintData" value="#{payerBean.hintPlaats} #{payerBean.hintStraat}"/>
                </td>
            </tr>
        </table>
        <p:focus for="achternaam"/>
    </h:form>
</ui:composition>