<ui:composition
        xmlns:t="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">
        <h:form id="PersonSelector"
                rendered="#{not empty payerBean.users and empty payerBean.currentEditPayer and empty payerBean.currentPayer and empty payerBean.payerData}">
            <h:inputHidden name="postcode" value="#{payerBean.postcode}" />
            <h:inputHidden name="huisnummer" value="#{payerBean.huisnummer}" />

            <t:dataTable value="#{payerBean.users}" var="user"
                         styleClass="people"
                         rowClasses="odd,even"
                         binding="#{payerBean.payerTable}" style="font-size:11pt;margin:0;padding:0;">
                <t:column headerText="Naam">
                    <h:outputText value="#{user.title}"/>
                </t:column>
                <t:column headerText="Adres"  style="width:250px;">
                    <h:outputText value="#{user.straatnaam} #{user.nummer}#{user.toevoeging}"/>
                </t:column>

                <t:column headerText="Postcode"  style="width:60px;">
                    <h:outputText value="#{user.postcode}"/>
                </t:column>
                <t:column headerText="Woonplaats">
                    <h:outputText value="#{user.woonplaats}"/>
                </t:column>
                <t:column headerText="Telefoon"  style="width:80px;">
                    <h:outputText value="#{user.telefoon}"/>
                </t:column>
                <t:column  style="width:80px;">
                    <h:commandLink action="#{payerBean.gotoPersonTransactie}" title="Offerande Transactie">
                        <h:graphicImage library="images" name="present_plus.png"  />
                        <f:setPropertyActionListener target="#{payerBean.currentPayer}" value="#{user}" />
                    </h:commandLink>
                    &#160;
                    <h:commandLink action="#{payerBean.gotoPersonEdit}" title="Persoon Gegevens Wijzigen">
                        <h:graphicImage library="images" name="user_blue_edit.png"  height="16px" />
                        <f:setPropertyActionListener target="#{payerBean.currentEditPayer}" value="#{user}" />
                    </h:commandLink>
                    &#160;
                    <h:commandLink action="#{payerBean.gotoPersonRemove}" title="Persoon verwijderen"
                                   onclick="if (! confirm('Weet u zeker dat u #{user.voornaam} #{user.achternaam} wilt verwijderen?') ) { return false;}; return true; "
                                   rendered="#{not payerBean.userReadOnly}">
                        <h:graphicImage library="images" name="user_blue_delete.png"  height="16px" />
                        <f:setPropertyActionListener target="#{payerBean.currentEditPayer}" value="#{user}" />
                    </h:commandLink>
                </t:column>
            </t:dataTable>
        </h:form>
</ui:composition>