<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:fragment rendered="#{not empty reportBean.currentPayer}">
        <h:form id="ReportPrinter" style="float:right;">
            <table>
                <tr>
                    <td style="width:100px;">Naam:</td>
                    <td style="width:180px;">#{reportBean.currentPayer.voornaam} #{reportBean.currentPayer.achternaam}</td>
                </tr>
                <tr>
                    <td>Adres:</td> <td>#{reportBean.currentPayer.straatnaam} #{reportBean.currentPayer.nummer} #{reportBean.currentPayer.woonplaats}</td>
                </tr>
                <tr>
                    <td>Jaartal:</td>
                    <td>
                        <h:selectOneListbox id="jaartalFace" name="jaartal" size="1" value="#{reportBean.taxYear}">
                            <f:selectItems value="#{reportBean.yearOfReport}" var="reportYear"
                                           itemLabel="#{reportYear}" itemValue="#{reportYear}" />
                        </h:selectOneListbox>

                    </td>

                </tr>
                <tr>
                    <td>Locatie</td>
                    <td colspan="2">
                        <h:selectOneMenu value="#{reportBean.currentPayerUkgrCode}"
                                         valueChangeListener="#{reportBean.changePayerLocation}">
                            <f:selectItems value="#{reportBean.payerLocaties}" var="locPayer"
                                           itemLabel="#{locPayer.woonplaats}, #{locPayer.straatnaam}"
                                           itemValue="#{locPayer.ukgrcode}" />
                        </h:selectOneMenu>

                    </td>
                </tr>
                <tr>
                    <td colspan="2"> &#160;   </td>
                </tr>
                <tr>
                    <td>
                        Overzicht PDF
                    </td>
                    <td>
                        <h:commandButton  styleClass="pdfDownload" value="Bezoeker" type="submit"
                                          name="OverzichtVoorBezoeker" id="OverzichtVoorBezoeker"
                                          action="#{reportBean.startReportForVisitor}" /> &#160; <br />
                        <h:commandButton  styleClass="pdfDownload"
                                          value="Belastingdienst" type="submit"
                                          name="OverzichtVoorBelastingDienst"
                                          id="OverzichtVoorBelastingDienst"
                                          action="#{reportBean.startReportForTaxOffice}" /> &#160; <br />
                        <h:commandButton  styleClass="pdfDownload"
                                          value="Scan Zipfile" type="submit"
                                          name="OverzichtScanBd"
                                          id="OverzichtScanBd"
                                          title="Scan als Zip file downloaden"
                                          action="#{reportBean.downloadZipFile}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h:message for="OverzichtVoorBezoeker" style="color:blue" />
                    </td>
                </tr>
            </table>
        </h:form>
    </ui:fragment>




</ui:composition>
