<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: amrit
  Date: 12/12/17
  Time: 10:57 PM
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>#{reportBean.viewTitle}</title>
    <h:outputStylesheet library="css" name="style.css"  />

</h:head>
<h:body>
    <ui:include src="../global/header.xhtml"   >
        <ui:param name="pageTitle" value="#{reportBean.viewTitle}" />
        <ui:param name="userIdent" value="#{reportBean.webUserData}" />
    </ui:include>
    <ui:include src="../global/menu.xhtml"   >
        <ui:param name="currentMenu" value="#{reportBean.activeMenuDef}" />
    </ui:include>
    <div class="MainCenterPage" >
        <div style="display:block;overflow:hidden;">
            <ui:include src="overzichtjaarpayer.xhtml"/>
            <ui:include src="currentPayer.xhtml"/>
            <h:form  name="payerSelector" id="payerSelector" >
                <ui:include src="searchPayer.xhtml" />
            </h:form>
            <ui:include src="selectPayer.xhtml"/>
        </div>
    </div>
    <ui:include src="../global/footer.xhtml"   />
</h:body>

</html>