<ui:composition
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:f="http://java.sun.com/jsf/core">
    <h:form  name="locatieSelector" id="locatieSelector" style="float:right;width: 450px;overflow:hidden;"
             rendered="#{empty reportBean.users and empty reportBean.currentPayer}">
        <span style="font-weight: bold;">Jaar-rapport per locatie</span> <br />
        <table>
            <tr>
                <td>Rapport</td>
                <td colspan="2">
                    <h:selectOneMenu value="#{reportBean.currentRapport}"
                                     valueChangeListener="#{reportBean.changeRapport}">
                        <f:selectItems value="#{reportBean.rapporten}" var="rapport"
                                       itemLabel="#{rapport.label}"
                                       itemValue="#{rapport.index}" />
                    </h:selectOneMenu>

                </td>
            </tr>
            <tr>
                <td>Locatie</td>
                <td colspan="2">
                    <h:selectOneMenu value="#{reportBean.currentLocatie}"
                                     valueChangeListener="#{reportBean.changeLocation}">
                        <f:selectItems value="#{reportBean.locaties}" var="loc"
                                       itemLabel="#{loc.woonplaats}, #{loc.straatnaam}"
                                       itemValue="#{loc.id}" />
                    </h:selectOneMenu>

                </td>
            </tr>
            <tr>
                <td>Jaar</td>
                 <td>
                     <h:commandLink  id="opzoekenPayerAtYearLocation"  style="float: right;"
                                     action="#{reportBean.fetchUserAtYear}"
                                     title="Rapport met mensen die offerande gegeven hebben" >
                         <h:graphicImage   library="images" name="file_pdf.png" />
                     </h:commandLink>
                    <h:selectOneListbox id="jaartalFace" name="jaartal" size="1" value="#{reportBean.taxYear}">
                        <f:selectItems value="#{reportBean.yearOfReport}" var="reportYear"
                                       itemLabel="#{reportYear}" itemValue="#{reportYear}" />
                    </h:selectOneListbox>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                   De vestigingen kunnen deze uitdraai gebruiken om inzicht te krijgen welke mensen
                    offerandes gegeven hebben op een locatie. Hierdoor is de administratie vereenvoudigd.
                </td>
            </tr>
        </table>
    </h:form>
</ui:composition>