<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core" >
    <ui:fragment>
        <p:defaultCommand target="opzoekenPayerReport" />
        <table>
            <tr>
                <td>Voornaam</td><td> <p:inputText id="voornaam" value="#{reportBean.firstName}"    /></td>
            </tr>
            <tr>
                <td>Achternaam</td>
                <td>
                    <p:inputText id="achternaam" value="#{reportBean.lastName}"    />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">
                    <h:commandButton id="opzoekenPayerReport" styleClass="buttonSearch"
                                     action="#{reportBean.fetchUsers}" title="Opzoeken" />
                    <h:commandLink  id="cancelPayerSelect"  title="Annuleren"
                                    rendered="#{not empty reportBean.users or not empty reportBean.currentPayer}"
                                    immediate="true" action="#{reportBean.cancelUsersList}"  >
                        <h:graphicImage   library="images" name="icons8-return-30.png"/>
                    </h:commandLink>

                </td>


            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <h:message for="achternaam" style="color:red" />
                </td>
            </tr>
            <tr>
                 <td>
                    <h:message for="voornaam" style="color:red" />
                </td>
            </tr>
        </table>
    </ui:fragment>
    <p:focus for="voornaam"/>
</ui:composition>