<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:t="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">
        <h:form id="PersonSelector"
                rendered="#{not empty reportBean.users and empty reportBean.currentPayer}">
            <t:dataTable value="#{reportBean.users}" var="user"
                         styleClass="people"
                         rowClasses="odd,even"
                         reflow="true" rows="5" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false"

                         binding="#{reportBean.payerTable}" style="font-size:11pt;margin:0;padding:0;">
                <t:column headerText="Naam">
                    <h:outputText value="#{user.voornaam} #{user.achternaam}"/>
                </t:column>
                <t:column headerText="Adres"  style="width:250px;">
                    <h:outputText value="#{user.straatnaam} #{user.nummer}#{user.toevoeging}"/>
                </t:column>

                <t:column headerText="Postcode"  style="width:60px;">
                    <h:outputText value="#{user.postcode}"/>
                </t:column>
                <t:column headerText="Woonplaats">
                    <h:outputText value="#{user.woonplaats}"/>
                </t:column>
                <t:column headerText="Telefoon"  style="width:80px;">
                    <h:outputText value="#{user.telefoon}"/>
                </t:column>
                <t:column  style="width:60px;">
                    <h:commandButton value="Select" action="#{reportBean.gotoPerson}">
                        <f:setPropertyActionListener target="#{reportBean.currentPayer}" value="#{user}" />
                    </h:commandButton>
                </t:column>
            </t:dataTable>
        </h:form>
</ui:composition>