<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: amrit
  Date: 12/12/17
  Time: 10:57 PM
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>#{transxBean.viewTitle}</title>
    <h:outputStylesheet library="css" name="style.css"  />

</h:head>
<h:body>
    <ui:include src="../global/header.xhtml"   >
        <ui:param name="pageTitle" value="#{transxBean.viewTitle}" />
        <ui:param name="userIdent" value="#{transxBean.webUserData}" />
    </ui:include>
    <ui:include src="../global/menu.xhtml"   >
        <ui:param name="currentMenu" value="#{transxBean.activeMenuDef}" />
    </ui:include>
    <div class="MainCenterPage" >
        <div style="display:block;overflow:hidden;">
            <h:form id="editTransactie" name="editTransactie" enctype="multipart/form-data"
                    rendered="#{not empty transxBean.currentTrx }" >
                <ui:include src="trxCurrent.xhtml" />
            </h:form>


            <h:form id="searchTransacties" name="transatieZoeken"
                    rendered="#{empty transxBean.currentTrx }" >
                <ui:include src="trxSearch.xhtml" />
            </h:form>

            <h:form id="TransactieLijst" name="TransactieLijst"
                    rendered="#{not empty transxBean.transactiesList and empty transxBean.currentTrx }" >
                <ui:include src="trxListInTable.xhtml" />
            </h:form>
        </div>
    </div>
    <ui:include src="../global/footer.xhtml"   />
</h:body>

</html>