<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core" >

    <p:defaultCommand target="savePayerTrxCorrectie" />
    <h2>Transactie Aanpassen</h2>
    <table>
        <tr>
            <td  title="localização da igreja">Locatie:</td>
            <td>
                <h:selectOneListbox value="#{transxBean.currentTrx.transactieData.adminlocatie}"
                                 valueChangeListener="#{transxBean.changeLocation}"
                                    readonly="#{transxBean.userReadOnly}" disabled="#{transxBean.userReadOnly}"   size="1">
                    <f:selectItems value="#{transxBean.locaties}" var="loc"
                                   itemLabel="#{loc.woonplaats}, #{loc.straatnaam}"
                                   itemValue="#{loc.id}" />
                </h:selectOneListbox>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td title="nome">Naam:</td> <td>#{transxBean.currentTrx.payerData.voornaam} #{transxBean.currentTrx.payerData.achternaam}</td>
        </tr>
        <tr>
            <td title="endereço">Adres:</td>
            <td>#{transxBean.currentTrx.payerData.straatnaam} #{transxBean.currentTrx.payerData.nummer} #{transxBean.currentTrx.payerData.woonplaats}</td>
            <td>

            </td>
        </tr>
        <tr>
            <td>Postcode</td>
            <td>#{transxBean.currentTrx.payerData.postcode}</td>
            <td>

            </td>
        </tr>
        <tr>
            <td title="Data">Datum:</td>
            <td>
                <p:calendar id="transactiedatum" value="#{transxBean.currentTrx.transactieData.transactiedatum}"
                            name="transactiedatum" readonly="#{transxBean.userReadOnly}" disabled="#{transxBean.userReadOnly}"
                            yearRange="c-1:c+1" navigator="true"  pattern="dd-MM-yyyy" required="true" />

            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td title="Método de pagamento">Betaal Methode:</td>
            <td>
                <h:selectOneListbox id="betaalmethode" name="betaalmethode"
                                    value="#{transxBean.currentTrx.transactieData.betaalmethode}"
                                    readonly="#{transxBean.userReadOnly}" disabled="#{transxBean.userReadOnly}">
                    <f:selectItems value="#{transxBean.paymentMethod}" var="payMethod"
                                   itemLabel="#{payMethod}" itemValue="#{payMethod}" />
                </h:selectOneListbox>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td title="quantidade de dinheiro">Donatie:</td>
            <td>
                <p:spinner min="0.05" id="bedrag" name="bedrag" size="10" max="1000000"
                           stepFactor="0.01" value="#{transxBean.currentTrx.transactieData.bedrag}"
                           required="true"
                           readonly="#{transxBean.userReadOnly}" disabled="#{transxBean.userReadOnly}"/>
            </td>
            <td>

            </td>

        </tr>
        <ui:fragment rendered="#{not empty transxBean.currentTrx.transactieData.scanfile}">
            <tr>
                <td>Huidige Scan:</td>
                <td>
                    #{transxBean.currentTrx.transactieData.scanfile}
                </td>
                <td>

                </td>
            </tr>
        </ui:fragment>
        <ui:fragment rendered="#{not transxBean.userReadOnly}">
            <tr>
                <td>Nieuwe Scan:</td>
                <td>
                    <h:inputFile id="importfile" value="#{transxBean.pdfTransacties}"/>
                </td>
                <td>

                </td>
            </tr>
        </ui:fragment>
        <tr>
            <td colspan="3" style="text-align: right;">
                <div style="float:right;width:75px;">
                    <h:commandButton id="savePayerTrxCorrectie" styleClass="buttonSave"
                                     rendered="#{not transxBean.userReadOnly}"
                                     action="#{transxBean.savePayerTrxCorrectie}"  title="Opslaan" />
                    <div>
                        <h:commandLink  id="annuleerPayerTrxCorrectie"  title="Annuleren"
                                        immediate="true" action="#{transxBean.annuleerPayerTrxCorrectie}"  >
                            <h:graphicImage   library="images" name="icons8-return-30.png"/>
                        </h:commandLink>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <p:focus for="bedrag"/>
</ui:composition>