<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dataTable value="#{transxBean.transactiesList}" var="itemTrx"
                 styleClass="people"
                 rowClasses="odd,even"
                 reflow="true" rows="10" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false"
                 binding="#{transxBean.transactieTable}" style="width:100%;font-size:10pt;margin:0; padding:0;">
        <p:column headerText="Vanaf" sortBy="#{itemTrx.transactieData.creation_time}"  style="width:65px !important;">
            <h:outputText value="#{itemTrx.transactieData.creation_time}">
                <f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss" timeZone="CET" type="date" />
            </h:outputText>
        </p:column>
        <p:column headerText="Transactie" sortBy="#{itemTrx.transactieData.transactiedatum}"  style="width:70px !important;">
            <h:outputText value="#{itemTrx.transactieData.transactiedatum}">
                <f:convertDateTime pattern="dd-MM-yyyy" timeZone="CET" type="date" />
            </h:outputText>
        </p:column>
        <p:column headerText="€" sortBy="#{itemTrx.transactieData.bedrag}"  style="width:45px !important;text-align: right;">
            <h:outputText value="#{itemTrx.transactieData.bedrag}">
                <f:convertNumber pattern="#0.00" currencySymbol="€" />
            </h:outputText>
        </p:column>
        <p:column headerText="Via" sortBy="#{itemTrx.transactieData.betaalmethode}"  style="width:65px !important;">
            <h:outputText value="#{itemTrx.transactieData.betaalmethode}" />
        </p:column>
        <p:column headerText="Naam" sortBy="#{itemTrx.transactieData.payerNaam}"  style="width:150px !important;">
            <h:outputText value="#{itemTrx.transactieData.payerNaam}"/>
        </p:column>
        <p:column headerText="Postcode" sortBy="#{itemTrx.transactieData.payerPostcode}"  style="width:55px !important;" >
            <h:outputText value="#{itemTrx.transactieData.payerPostcode}"/>
        </p:column>
        <p:column headerText="Scan" sortBy="#{itemTrx.transactieData.scanfile}" >
            <h:commandLink action="#{transxBean.downloadFile(itemTrx)}" title="Download Scan">
                #{itemTrx.transactieData.scanfile}
            </h:commandLink>
        </p:column>

        <p:column  width="40px;">
            <h:commandLink action="#{transxBean.gotoTrx}" title="Transactie Corrigeren">
                <h:graphicImage library="images" name="edit.png"  height="20px" />
            </h:commandLink>

            <h:commandLink action="#{transxBean.deleteTrx}" title="Transactie Verwijderen"
                           onclick="if (! confirm('Weet u zeker dat u de transactie wilt verwijderen?') ) { return false;}; return true; ">
                <h:graphicImage library="images" name="trashcan_delete.png"  height="20px" />
            </h:commandLink>
        </p:column>
        <f:facet name="footer" >

        </f:facet>
    </p:dataTable>
</ui:composition>