<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core" >

<p:defaultCommand target="opzoekenTransactie" />
<table>
    <tr>
        <td>Gebruiker</td><td>Vanaf (Datum + 48 uur)</td><td>Achternaam</td>
    </tr>
    <tr>
        <td>
            <p:inputText size="15" id="webuser" name="webuser" value="#{transxBean.webUserId}"
                         disabled="#{transxBean.userSelectReadOnly}" autofocus="true"/>
        </td>
        <td>
            <p:calendar id="transactiedatum" value="#{transxBean.trxDateFrom}" name="transactiedatum"
                        yearRange="c-1:c" navigator="true"  pattern="dd-MM-yyyy" required="true" />

        </td>
        <td>
            <p:inputText size="15" id="achternaam" name="achternaam" value="#{transxBean.achternaam}"  />
        </td>
        <td>
            <h:commandButton id="opzoekenTransactie" styleClass="buttonSearch"
                             action="#{transxBean.fetchData}" title="Opzoeken" />
        </td>
    </tr>
    <tr>
        <td colspan="4">

        </td>
    </tr>
</table>
    <p:focus for="achternaam"/>
</ui:composition>