<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: amrit
  Date: 12/12/17
  Time: 10:57 PM
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>#{usebean.viewTitle}</title>
    <h:outputStylesheet library="css" name="style.css"  />
</h:head>
<h:body>
    <ui:insert name="header" >
        <ui:include src="commonHeader.xhtml" >
            <ui:param name="pageTitle" value="#{usebean.viewTitle}" />
            <ui:param name="userIdent" value="#{usebean.webUserData}" />
            <ui:param name="currentMenu" value="#{usebean.activeMenuDef}" />
        </ui:include>
    </ui:insert>

    <div class="MainCenterPage" >
        <ui:insert name="content" >
            <ui:include src="commonContent.xhtml" />
        </ui:insert>
    </div>
    <ui:insert name="footer" >
        <ui:include src="commonFooter.xhtml"   />
    </ui:insert>
</h:body>
</html>