<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <div class="CenterPage">
        <div style="display:block;overflow:hidden;">
            <form method="post" action="#{menuBean.logoutUrl}" style="float:right;width:60px;">
                <input type="submit" class="logout"  value=""   title="Afmelden/Sair"/>
            </form>
            <h1>#{pageTitle}</h1>
        </div>
        <div style="display:block;overflow:hidden;">
            <span style="text-align: left;">#{userIdent.voornaam} #{userIdent.achternaam}  [#{userIdent.currentlevel}]</span>
        </div>
    </div>
    <div class="MenuBar"  >
        <c:forEach items="#{menuBean.menuList}" var="menuItem" >
            <c:if test = "${menuItem.caption != currentMenu}">
                <a href="#{menuItem.url}" class="menuButton">#{menuItem.caption}</a>

            </c:if>
            <c:if test = "${menuItem.caption eq currentMenu}">
                <a href="JavaScript:void(0);" class="menuButton current">#{menuItem.caption}</a>
            </c:if>
        </c:forEach>
    </div>
</ui:composition>