<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html
                PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Users</title>
    <h:outputStylesheet library="css" name="style.css"  />
</h:head>


<h:body>
    <div class="CenterPage">
        <h1>Something went Wrong</h1>
        <p>#{date}</p>


        <h1 style="color:red;">Error Page</h1>
        <p>Failed URL: #{url}</p>

        #{exception.getClass().getCanonicalName()}:  #{exception.message}

    </div>
    <ui:include src="menu.xhtml"   >
        <ui:param name="currentMenu" value="n/a" />
    </ui:include>
</h:body>


</html>
