<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets">
    <div class="CenterPage">
        <div style="display:block;overflow:hidden;">
            <form method="post" action="#{menuBean.logoutUrl}" style="float:right;width:60px;">
                <input type="submit" class="logout"  value=""   title="Afmelden/Sair"/>
            </form>
            <h1>#{pageTitle}</h1>
        </div>
        <div style="display:block;overflow:hidden;">
            <span style="text-align: left;">#{userIdent.voornaam} #{userIdent.achternaam}  [#{userIdent.currentlevel}]</span>
        </div>
    </div>
</ui:composition>