<ui:composition
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
        xmlns:ui="http://java.sun.com/jsf/facelets">
    <div class="MenuBar"  >
        <c:forEach items="#{menuBean.menuList}" var="menuItem" >
            <c:if test = "${menuItem.caption != currentMenu}">
                <a href="#{menuItem.url}" class="menuButton">#{menuItem.caption}</a>

            </c:if>
            <c:if test = "${menuItem.caption eq currentMenu}">
                <a href="JavaScript:void(0);" class="menuButton current">#{menuItem.caption}</a>
            </c:if>
        </c:forEach>
    </div>
</ui:composition>